{% extends 'base.html' %}

{% block content %}
<a href="{% url 'student_api_page'%}"  class="btn btn-success btn-lg btn-block" type="submit">See API</a>
<div class="row">
    {% for student in object_list %}
    <div class="col-md-4">
        <div class="card" style="margin-bottom: 15px;" >
            <div class="card-body">
                        <h5 class="card-title">{{ student.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ student.course }}</h6>
                        <p class="card-text">{{ student.email }}</p>
                        <p class="card-text">{{ student.age }}</p>
                        <br>
                        <a href="{% url 'data_correction:change_student' student_id=student.id %}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Change student</a>
            </div>
        </div>
    </div>
     {% endfor%}
</div>
     <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
    </div>
{% endblock content %}